<pm-project-editor [project]="project"></pm-project-editor>

<div class="card mt-3">
	<div class="card-header d-flex justify-content-between">
		<h4> User stories</h4>
		<div class="d-flex">
			<div class="form-check form-check-inline">
				<label class="form-check-label">
					<input class="form-check-input" type="checkbox" value="queue" checked>in queue
				</label>
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label">
					<input class="form-check-input" type="checkbox" value="workInProgress" checked>in progress
				</label>
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label">
					<input class="form-check-input" type="checkbox" value="done" checked>done
				</label>
			</div>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>US-101</td>
				<td>Implement mocked data service using ngrx</td>
				<td>in queue</td>
			</tr>
			<tr>
				<td>US-201</td>
				<td>dummy page layout for all projects</td>
				<td>done</td>
			</tr>
			<tr>
				<td>US-201</td>
				<td>dummy page layout for a single project</td>
				<td>in progress</td>
			</tr>
			<tr>
				<td>US-202</td>
				<td>basic page layout for a single user story</td>
				<td>queue</td>
			</tr>
		</tbody>
	</table>

</div>