<div class="card text-white bg-primary mb-3 mt-3">
	<h4 class="card-header">Search</h4>
	<div class=card-body>
		<div class="input-group">
			<div ngbDropdown>
				<button class="btn input-group-addon bg-light" ngbDropdownToggle>everywhere</button>
				<div ngbDropdownMenu>
					<button class="dropdown-item" disabled>everywhere</button>						
					<button class="dropdown-item">in projects</button>
					<button class="dropdown-item">in user stories</button>
					<button class="dropdown-item">in tasks</button>
				</div>
			</div>

			<input class="form-control" type="text" placeholder="Type here to search..."
				[ngbTypeahead]="onSearch" [resultTemplate]="searchResultLine" (selectItem)="onSearchResultSelect( $event )">
		</div>
	</div>
</div>

<ng-template #searchResultLine let-result="result">
	<div class="d-flex">
		<fa name="briefcase"></fa>
		<span class="ml-2">{{ result.label }}</span>
	</div>
</ng-template>

<div class="card mb-3">
		<div class="card-body">
			<h4 class="card-title">Favorite projects</h4>
	
			<ul class="list-group list-group-flush">
				<li class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<div class="d-flex">
							<h5 class="mr-2">Best project on the world</h5>
							<fa name="star"></fa>
						</div>
						<div class="text-secondary">
							<small>progress: 98%</small>
							<small>|</small>
							<small>deadline: none</small>
						</div>
					</div>
					<p class="text-muted">Description is futile, it is just awesome</p>
					<div>
						<span class="badge badge-pill badge-success">awesome</span>
					</div>
				</li>
			</ul>
		</div>
	</div>

<div class="card">
	<div class="card-body">
		<h4 class="card-title">Recently viewed projects</h4>

		<ul class="list-group list-group-flush">
			<li class="list-group-item list-group-item-action">
				<div class="d-flex justify-content-between">
					<div class="d-flex">
						<h5 class=" mr-2">Some cool project</h5>
						<fa name="star-o"></fa>
					</div>
					<div class="text-secondary">
						<small>progress: 75%</small>
						<small>|</small>
						<small>deadline: none</small>
					</div>
				</div>
				<p class="text-muted">Short description of project</p>
				<div>
					<span class="badge badge-pill badge-info">Angular2</span>
					<span class="badge badge-pill badge-info">Typescript</span>
					<span class="badge badge-pill badge-danger">Important</span>
				</div>
			</li>

			<li class="list-group-item list-group-item-action">
				<div class="d-flex justify-content-between">
					<div class="d-flex">
						<h5 class=" mr-2">Some other cool project</h5>
						<fa name="star-o"></fa>
					</div>
					<div class="text-secondary">
						<small>progress: 49%</small>
						<small>|</small>
						<small>deadline: 2018-04-15</small>
					</div>
				</div>
				<p class="text-muted">Short description of project with quite much content probably wrapping into multiple lines</p>
			</li>

			<li class="list-group-item list-group-item-action">
				<div class="d-flex justify-content-between">
					<div class="d-flex">
						<h5 class=" mr-2">Another but still cool project</h5>
						<fa name="star-o"></fa>
					</div>
					<div class="text-secondary">
						<small>progress: 88%</small>
						<small>|</small>
						<small class="text-danger">deadline: 2017-07-25</small>
					</div>
				</div>
				<p class="text-muted">Short description of project</p>
			</li>
		</ul>
	</div>
</div>