<div class="pm-card text-white bg-primary">
	<h4 class="card-header">Search</h4>
	<div class=card-body>
		<div class="input-group">
			<div ngbDropdown>
				<button class="btn input-group-addon bg-light" ngbDropdownToggle>everywhere</button>
				<div ngbDropdownMenu>
					<button class="dropdown-item" disabled>everywhere</button>
					<button class="dropdown-item">in projects</button>
					<button class="dropdown-item">in user stories</button>
					<button class="dropdown-item">in tasks</button>
				</div>
			</div>

			<input class="form-control" type="text" placeholder="Type here to search..." [ngbTypeahead]="onSearch"
				   [resultTemplate]="searchResultLine"
				   (selectItem)="onSearchResultSelect( $event )">
		</div>
	</div>
</div>

<ng-template #searchResultLine let-result="result">
	<div class="d-flex">
		<i class="fa fa-briefcase" aria-hidden="true"></i>
		<span class="ml-2">{{ result.label }}</span>
	</div>
</ng-template>

<div class="pm-card">
	<div class="card-body">
		<h4 class="card-title">Favorite projects</h4>
		<ng-container *ngIf="favoriteProjects$ | async as favoriteProjects; else loadingTpl">
			<pm-generic-list
				[items]="favoriteProjects"
				[itemTemplate]="projectItemTpl"
				(itemClick)="onProjectSelect( $event )">
			</pm-generic-list>
		</ng-container>

	</div>
</div>


<div class="pm-card">
	<div class="card-body">
		<h4 class="card-title">Recently viewed projects</h4>
		<ng-container *ngIf="recentProjects$ | async as recentProjects; else loadingTpl">
			<pm-generic-list
				[items]="recentProjects"
				[itemTemplate]="projectItemTpl"
				(itemClick)="onProjectSelect( $event )">
			</pm-generic-list>
		</ng-container>
	</div>
</div>

<ng-template #projectItemTpl let-item>
	<pm-project-list-item [project]="item" >
	</pm-project-list-item>
</ng-template>


<ng-template #loadingTpl>
	<pm-loading-animation></pm-loading-animation>
</ng-template>
